In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection  import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,confusion_matrix

In [4]:
cars=pd.read_csv('mtcars.csv')
cars.head()

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1

In [5]:
cars.shape

(32, 12)

In [7]:
#define the x and y
X=cars.loc[:,['mpg','hp','wt']]
Y=cars.am

In [8]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=13)

In [9]:
X_train.shape

(22, 3)

In [10]:
X_test.shape

(10, 3)

In [12]:
model=LogisticRegression()
model.fit(X_train,Y_train) # training the data
Y_predict=model.predict(X_test) # prediction

In [14]:
accuracy_score(Y_test,Y_predict)

0.9